greeting
Hi, {name}!
Hey, {name}!
Yo, {name}!
Sup, {name}?
Hiya, {name}!
Howdy, {name}!
Hello, {name}!
Welcome, {name}!
Hey there, {name}!
Oh hey, {name}!
Hi again, {name}!
Hey hey, {name}!
Greetings, {name}!
Welcome back, {name}!
Back again, {name}?
What's up, {name}?
There you are, {name}!
Good to see you, {name}!
Look who's back, {name}!
Nice to see you, {name}!
